/* hero start */

#hero {
    width: 100vw;
    height: 100vh;
    background-color: yellow;
}

.hero-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    position: relative;
}

.video-container,
.text-container {
    grid-column: 1 / span 2;
    grid-row: 1 / 2;
    overflow: hidden;
}

.video-container {
    background-color: red;
    height: 100% !important;
    width: 100%;
    position: relative;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 1;
}

.text-container {
    background: linear-gradient(0deg, rgba(var(--dark), .8), rgba(var(--dark), 0.2));
    position: relative;
    z-index: 2;
}

.text-container .text-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    color: rgba(var(--light), 1);
    /* font-size: 2rem; */
}

.text-content .title {
    font-size: 3rem;
    font-weight: 900;
}

.title .highlight {
    background-color: rgba(var(--color1), 1);
    padding: .1rem .5rem;
}

.hero-cta {
    background-color: rgba(var(--color3), 1);
    border: none;
    padding: .5rem 2rem;
    color: rgba(var(--color2), 1);
    font-weight: bold;
    position: relative;
    transform: translateY(0px);
    z-index: 1;
    overflow: hidden;
    transition: all 0.5s ease;
}

.hero-cta::before {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: rgba(var(--color1), 1);
    left: 50%;
    top: 0;
    z-index: -1;
    transform: translate(-50%, 0) scale(0);
    transition: all 0.5s ease;
}

.hero-cta:hover {
    transform: translateY(10px);
}

.hero-cta:hover::before {
    transform: translate(-50%, 0) scale(1);
}


/* hero end */


/* navbar start */

#navbar{
    background-color: rgba(var(--color4), 1);
}

.navbar-nav .nav-item{
    font-weight: 500;
}

.navbar-nav .nav-item .nav-link{
    position: relative;
    z-index: 1;
}

.navbar-nav .nav-item .nav-link::before{
    content: "";
    width: 0;
    height: 100%;
    position: absolute;
    bottom: 0%;
    left: 0;
    background-color: rgba(var(--color2),1);
    z-index: -1;
    transition: all 0.5s ease;
}

.navbar-nav .nav-item .nav-link:hover::before{
    width: 100%;
}

.navbar-cta-button{
    background-color:var(--bs-danger);
    border: none;
    padding: .5rem 2rem;
    color: rgba(var(--color2), 1);
    font-weight: bold;
    position: relative;
    transform: translateY(0px);
    z-index: 1;
    overflow: hidden;
    transition: all 0.5s ease;
}

.navbar-cta-button::before {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: rgba(var(--color1), 1);
    left: 50%;
    top: 0;
    z-index: -1;
    transform: translate(-50%, 0) scale(0);
    transition: all 0.5s ease;
}

.navbar-cta-button:hover::before {
    transform: translate(-50%, 0) scale(1);
}

/* navbar end */